//- Theme Color Options
- const Theme = 'red';

//- For SEO Optimization required
- const siteTitle = 'Site Template';
- const siteDescription = 'Front-end Starter Kit with Gulp for Themeforest Projects';
- const siteKeywords = 'site, front-end, theme, starter-kit';
- const siteAuthor = 'Site Author';
- const siteRobots = 'noindex, nofollow';
- const siteUrl = 'https://website.com';
- const siteLanguage = 'en-EN'

//- Copyright
- const siteCopyright = 'Template 2020 https://website.com';

//- Logo Url
- const siteLogoUrl = 'assets/images/og-img.jpg';

//- Favicons
- const siteFavicon = 'assets/images/favicon.png';

//- Address Bar Color
- const siteThemeColor = '#ffffff';
