//- base/variables/_global.pug
//- Theme Color Options
- Theme = 'red';

//- For SEO Optimization required
- siteTitle = 'Site Template';
- siteDescription = 'Front-end Starter Kit with Gulp for ThemeForest Projects';
- siteKeywords = 'site, front-end, theme, starter-kit';
- siteAuthor = 'Site Author';
- siteRobots = 'noindex, nofollow';
- siteUrl = 'https://sitename.net';
- siteLanguage = 'en'

//- Copyright
- siteCopyright = 'Template 2020 https://sitename.net';

//- Logo Url
- siteLogoUrl = 'assets/images/og-img.jpg';

//- Favicons
- siteFavicon = 'statics/icons/';

//- Address Bar Color
- siteThemeColor = '#ffffff';
