//- Line Mixin
mixin line
  if (isTheme)
    if (isProduction)
      = "\n"
  else
    = "\n"

//- Tab Mixin
mixin tab
  if (isTheme)
    if (isProduction)
      = "\t"
  else
    = "\t"

//- LineTab Mixin
mixin lineTab
  +line
  +tab
