//- base/mixins/_suffix.pug
//- Add .min suffix Mixins
mixin link(source, vendors= false)
  link(rel="stylesheet" href=
    (vendors ? "vendors/css/" + source : "assets/css/" + source) +
    ((isProduction || isTheme) ? ".min" : "") + ".css")

mixin script(source, vendors= false)
  script(src=
    (vendors ? 'vendors/js/' + source : "assets/js/" + source) +
    ((isProduction || isTheme) ? ".min" : "") + ".js")
