//
// Default app style
// =============================================================================

// ====================================
// [ CSS TABLE CONTENT ]
// ------------------------------------
//   1.0 - BASE
//     ➢ -- 1.1 Global Settings
//   2.0 - COMPONENTS
//   3.0 - LAYOUT
//     ➢ -- 3.1 General Settings
//   4.0 - PAGES
// -------------------------------------
// [ END CSS TABLE CONTENT ]
// =====================================

//
// 1.0 - BASE
// -----------------------------------------------------------------------------
@import "base";

//
// 2.0 - COMPONENTS
// -----------------------------------------------------------------------------
@import "components";

//
// 3.0 - LAYOUT
// -----------------------------------------------------------------------------
@import "layouts";

//
// 4.0 - PAGES
// -----------------------------------------------------------------------------
@import "pages";

.example {
  display: grid;
  background: linear-gradient(to bottom, #fff, #000);
  transition: all .5s;
  user-select: none;
}
