include ../base/_variables
include ../base/_mixins

include ../partials/_license

html(lang=siteLanguage)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    +line
    +line
    title= (pageTitle ? pageTitle + ' - ' + siteTitle : siteTitle)

    +line
    +line
    include ../partials/_meta-tags

    +line
    +line
    include ../partials/_styles

  body
    //- if (page !== 'login' && page !== 'register' && page !== 'forgot-password'  && page !== '404')
    //-   include ../modules/_header
    //-   include ../modules/_sidebar
    include ../modules/_header
    include ../modules/_sidebar

    +line
    +line
    block content

    +line
    +line
    //- if (page !== 'login' && page !== 'register' && page !== 'forgot-password'  && page !== '404')
    //-   include ../modules/_footer
    include ../modules/_footer

    +line
    +line
    include ../partials/_scripts
